<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="mailUserName" value="006ananth@gmail.com"/>
    <add key="mailPassword" value="****"/>
  </appSettings>
  <connectionStrings>
    <add name="fileDbConnection" connectionString="Data Source=DESKTOP-O5UA3O7;Initial Catalog=FileLocationDb;uid=ananth;password=ananth"/>
  </connectionStrings>
  
</configuration>